# Practical session 1 - Some Python basics

Students (pair):
- [Student 1]([link](https://github.com/username1))
- [Student 2]([link](https://github.com/username2))

```
conda create --name=lab1 --file=requirement.txt
conda activate lab1
# do not forget to deactivate the environment if needed
# you can remove the environment once you are done
conda env remove --name=lab1
```

In [ ]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Reserved keywords

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Arithmetic

Compute 4 raised to the power 8

In [5]:
print(4**8)

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [7]:
print(17//3,17%3)

5 2

Create two integer variables `a, b` of your choice and swap their content.

In [16]:
a=5
b=6
print(a,b)

5 6

In [17]:
c=a
a=b
b=c
print(a,b)

6 5

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [18]:
a=2*a
print(a)

12

Define a complex number `z` object and print it as

`(real=z.real, imag=z.imaginary)`

In [25]:
z=5+6j
print(z.real, z.imag)

5.0 6.0

## Strings

Propose two ways to define an empty string

In [27]:
s=""
s=''

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [28]:
s="abcdefghijklmnopqrstuvwxyz"

In [34]:
## On affiche la 12 Ã¨me lettre de l'alphabet
print(s[11])

l

In [33]:
## On affiche les 10 derniÃ¨res lettres de l'alphabet
print(s[-10::])

qrstuvwxyz

In [35]:
## On affiche les lettres entre la 5Ã¨me et la 10Ã¨me de l'alphabet

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

## Lists

Propose two ways to define an empty list.

Create the list of consecutive integers from 5 to 11.

Add `100` to this list.

Given the following list,
Change the `"sdia"` to its reverse (`"aids"`).

In [ ]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]

Given the following list,

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [ ]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

## Tuples


Propose two ways to define an empty tuple.

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

x = ([1, 2, 3], 4)

What is the main difference between a list and a tuple?

## Sets

Create an empty set

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [ ]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

## Dictionnaries

Propose two ways to define an empty dictionary

Propose at least 3 ways to define a dictionary with
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

Given the following dictionary, use indexing to get to the word `"sdia"`

In [ ]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [ ]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [ ]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [ ]:
quantity = 1
fruit = "avocado"
price = 1.8912392e4

## Functions

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

Define a function `triangle_shape(height)`, that returns
- `""` if `height=0`,
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x
xxx
```

height=3
```
  x  
 xxx
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx
xxxxxxxxxxx
```