# Practical session 1 - Some Python basics

Students (pair):
- [Awhansou Yémalin]([link](https://github.com/username1))
- [Ouzzane Réda]([link](https://github.com/username2))

```
conda create --name=lab1 --file=requirement.txt
conda activate lab1
# do not forget to deactivate the environment if needed
# you can remove the environment once you are done
conda env remove --name=lab1
```

In [ ]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Reserved keywords

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Arithmetic

Compute 4 raised to the power 8

In [ ]:
print(4**8)

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [ ]:
print(17//3,17%3)

5 2

Create two integer variables `a, b` of your choice and swap their content.

In [ ]:
a=5
b=6
print(a,b)

5 6

In [ ]:
c=a
a=b
b=c
print(a,b)

6 5

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [ ]:
a=2*a
print(a)

12

Define a complex number `z` object and print it as

`(real=z.real, imag=z.imaginary)`

In [ ]:
z=5+6j
print(z.real, z.imag)

5.0 6.0

## Strings

Propose two ways to define an empty string

In [ ]:
s1=""
s2=str()
print(s1,s2)

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [ ]:
s="abcdefghijklmnopqrstuvwxyz"

In [ ]:
# On affiche la 12 ème lettre de l'alphabet
print(s[11])

l

In [1]:
# On affiche les 10 dernières lettres de l'alphabet
print(s[-10::])

NameError: name 's' is not defined

In [ ]:
# On affiche les lettres entre la 5ème et la 10ème de l'alphabet
print(s[4:10])

efghij

In [ ]:
# On met la chaîne de caractères en majuscules
a=s.upper()
print(a)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [ ]:
x=2341324530045968

In [ ]:
s=str(x)
print(int(s[:4]))

2341

## Lists

Propose two ways to define an empty list.

In [ ]:
L1=[]
L2=list()
print(L1,L2)

[] []

Create the list of consecutive integers from 5 to 11.

In [ ]:
L=[k for k in range(5,12)]
print(L)

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [ ]:
L.append(100)

Given the following list,
Change the `"sdia"` to its reverse (`"aids"`).

In [ ]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]

In [ ]:
x[2][1][2][0]="aids"
print(x)

[10, [3, 4], [5, [100, 200, ['aids']], 23, 11], 1, 7]

Given the following list,

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [ ]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

In [ ]:
# On extrait les 2 premiers et les deux derniers objets de la liste
a=x[:2]
b=x[-2:]
print(a,b)

[10, [3, 4]] [1, 7]

In [ ]:
# On extrait les objets d'indice impaires (le premier objet est à l'indice 0)
d=x[1::2]
d

[[3, 4], 1]

In [ ]:
# On inverse la liste
e=x[::-1]
print(e)

[1, 3, 2, 2, 9, 4, 2, 5, 8, 2, 6, 5, 9, 4, 5, 5, 9, 9, 8, 5, 5, 5, 0, 4, 1, 3, 9, 0, 9, 0, 0, 5, 9, 0, 7, 2, 4, 3, 9, 3, 7, 0, 8, 8, 6, 8, 3, 5, 7, 3]

In [ ]:
# On crée une nouvelle liste dont les nombres sont élevées à la puissance 3
f=[k**3 for k in x]
f

[27,
 343,
 125,
 27,
 512,
 216,
 512,
 512,
 0,
 343,
 27,
 729,
 27,
 64,
 8,
 343,
 0,
 729,
 125,
 0,
 0,
 729,
 0,
 729,
 27,
 1,
 64,
 0,
 125,
 125,
 125,
 512,
 729,
 729,
 125,
 125,
 64,
 729,
 125,
 216,
 8,
 512,
 125,
 8,
 64,
 729,
 8,
 8,
 27,
 1]

## Tuples


Propose two ways to define an empty tuple.

In [ ]:
t1=()
t2=tuple()
print(t1,t2)

() ()

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

*x* = ([1, 2, 3], 4)

What is the main difference between a list and a tuple?

In [ ]:
x = ([1, 2, 3], 4)

In [ ]:
# On a une erreur lorsqu'on veut remplacer la valeur 4 du tuple par un 8
x[1]=8

TypeError: 'tuple' object does not support item assignment

In [ ]:
# On élève à la puissance 5 le deuxième élément de la liste présente dans le tuple
x[0][1]=x[0][1]**5
print(x)

([1, 32, 3], 4)

On voit que la principale différence entre une liste et un tuple et que la liste est modifiable après son initialisation (mutable) alors que le tuple ne l'est pas.

## Sets

Create an empty set

In [ ]:
S=set()

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [ ]:
A={1,2,3}
B={2,4,5,6}
C=A&B
print(C)

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [ ]:
C.update({4,5,6})
print(C)

{2, 4, 5, 6}

In [ ]:
C-={1,2,3}
print(C)

{4, 5, 6}

In [ ]:
D={1, 2, 4, 5, 6, 10}

In [ ]:
# On regarde si l'ensemble C est inclus dans l'ensemble D
C<D

True

In [ ]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

## Dictionnaries

Propose two ways to define an empty dictionary

In [ ]:
dict1={}
dict2=dict()

Propose at least 3 ways to define a dictionary with
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [ ]:
dict1={
    "a" : 1,
    "b" : 3,
    "c" : 5,
    "d" : 7
}

print(dict1)

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

In [ ]:
dict2=dict([('a', 1), ('b', 3), ('c', 5), ('d', 7)])
print(dict2)

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

In [ ]:
keys = ("a", "b", "c", "d")
values = (1, 3, 5, 7)
dict3={key:valeur for key,valeur in zip(keys,values)}
print(dict3)

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

Given the following dictionary, use indexing to get to the word `"sdia"`

In [ ]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

In [ ]:
d["outer"][3]["inner"][3]["inner_inner"][3]

'sdia'

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [ ]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

In [ ]:
keys=d1.keys()
print(keys)

dict_keys([(0, 1), 'e', 1, None])

In [ ]:
values=d1.values()
print(values)

dict_values(['abc', 4, None, (1+2j)])

In [ ]:
if "abc" in d1 :
  print("la clé est présente")
else :
  print(123)
# Comme on a pas fait de fonction, on print la valeur 123 au lieu de return 123

123

In [ ]:
d2={"e": -1, 4: True}
d1.update(d2)
print(d1)

{(0, 1): 'abc', 'e': -1, 1: None, None: (1+2j), 4: True}

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [ ]:
L1=[2*k+1 for k in range(0,15)]
print(L1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
L2=[k for k in range(31)]
L2=L2[1::2]
print(L2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [ ]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

In [ ]:
def modification(L):
  S=[]
  for k in range(len(L)):
    a=L[k]
    if a%5==0:
      if a%7==0:
        S.append("fizbuz")
      else :
        S.append("fiz")
    elif a%7==0:
      S.append("buz")
    else :
      S.append(k)
  return S

In [ ]:
modification(x)

[0, 1, 2, 3, 'fizbuz', 'fiz', 'fizbuz', 7, 8, 'buz']

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [ ]:
def statement(course):
  course=course.lower()
  # On met la chaine de caractère en minuscule pour gérer les différents types de capitalisation
  if course=="maths":
    print("That is very useful!")
  elif course=="python":
    print("That is very useful!")
  elif course=="meditation":
    print("How nice!")
  elif course=="magic":
    print("You're not at Hogwarts")
  else :
    print("What is this COURSE?")
statement("Maths")

That is very useful!

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [ ]:
quantity = 1
fruit = "avocado"
price = 1.8912392e4

In [ ]:
str=f"{quantity} {fruit}{"s" if quantity>1 else ""} cost{"s" if quantity>1 else ""} {price:,.2f} "
print(str)

1 avocado cost 18,912.39

## Functions

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [ ]:
def is_unique(x):
  occurence=0
  for a in x:
    occurence=x.count(a)
    if occurence>1:
      return False
  return True

In [ ]:
is_unique([5,5,6])

False

In [ ]:
is_unique([2,4,5])

True

Define a function `triangle_shape(height)`, that returns
- `""` if `height=0`,
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x
xxx
```

height=3
```
  x  
 xxx
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx
xxxxxxxxxxx
```

In [ ]:
def triangle_shape(height):
  if height==0:
    return ""
  # Si la hauteur du triangle est 0 on renvoie une string vide
  else:
    S=""
    L=[" "*(height-i) + "x"*(2*i+1) +" "*(height-i)+"\n" for i in range(height)]
    # Si on note n le numéro de la ligne pour créer le triangle, il faut pour chaque ligne le bon nombre de x (2*n+1)
    # et le bon nombre d'espace à gauche et à droite (height-n)
    for k in range(len(L)):
      S+=L[k]
    print(S)

In [ ]:
triangle_shape(10)

          x
         xxx
        xxxxx
       xxxxxxx
      xxxxxxxxx
     xxxxxxxxxxx
    xxxxxxxxxxxxx
   xxxxxxxxxxxxxxx
  xxxxxxxxxxxxxxxxx
 xxxxxxxxxxxxxxxxxxx